  <div class="bg-danger">{{x}}</div>
  <a class="btn btn-primary"(click)="fnclick()">click</a>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="https://source.unsplash.com/random/100*100" height="400" width="100" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/random/200*100" height="400" width="100" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/random/300*100" height="400" width="100" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>